.popup {
	position: relative;
}

.menu {
	border-radius: 18px;
	border: 1px solid var(--accent-redesigned);
	overflow: hidden;
}

.trigger {
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.active {
	background: var(--light-bg-redesigned);
}

.disabled {
	opacity: 0.7;
}

.options_b_l {
	top: 100%;
	right: 0;
}

.options_b_r {
	top: 100%;
	left: 0;
}

.options_t_r {
	bottom: 100%;
	left: 0;
}

.options_t_l {
	right: 0;
	bottom: 100%;
}
