.Card {
	padding: 24px;
}

.p0 {
	padding: 0;
}

.p8 {
	padding: 8px;
}

.p16 {
	padding: 16px;
}

.p24 {
	padding: 24px;
}

.normal {
	background: var(--dark-bg-redesigned);
}

.light {
	background: var(--light-bg-redesigned);
}

.outlined {
	border: 1px solid var(--accent-redesigned);
}

.full {
	width: 100%;
}

.round {
	border-radius: 40px;
}

.default {
	border-radius: 12px;
}
